*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f8f8;
  color: #454545;
}

#root {
  padding-top: 50px; /* Space at the top of the screen */
}

h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  margin: 0;
}

/* Old styling, keeping it if I fail with the styled components 
{
  -webkit-transition:.25s ease-in-out;
     -moz-transition:.25s ease-in-out;
       -o-transition:.25s ease-in-out;
          transition:.25s ease-in-out;
  font-family:helvetica neue,helvetica,arial,sans-serif;
  font-size:18px;
  line-height:18px;
  box-sizing:border-box;
  margin:0;
  }
  body{
  background:#f8f8f8;
  }
  h1{
  text-align:center;
  padding:50px 0;
  font-size:30px;
  margin:0;
  font-weight:200;
  color:#454545;
  }
  h1 .fa-check{
  font-size:30px;
  margin-right:10px;
  color:#0eb0b7;
  }
  .todo-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #todo-list{
  width:500px;
  margin:0 auto 50px auto;
  padding:50px;
  max-width: fit-content;
  background:white;
  position:relative;

  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);

  -webkit-border-radius:5px;
     -moz-border-radius:5px;
          border-radius:5px;
  }
  #todo-list:before{
  content:"";
  position:absolute;
  z-index:-1;

  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.4);
     -moz-box-shadow:0 0 20px rgba(0,0,0,0.4);
          box-shadow:0 0 20px rgba(0,0,0,0.4);
  top:50%;
  bottom:0;
  left:10px;
  right:10px;

  -webkit-border-radius:100px / 10px;
     -moz-border-radius:100px / 10px;
          border-radius:100px / 10px;
  }
  .todo-wrap{
  display:block;
  position:relative;
  padding-left:35px;

  -webkit-box-shadow:0 2px 0 -1px #ebebeb;
     -moz-box-shadow:0 2px 0 -1px #ebebeb;
          box-shadow:0 2px 0 -1px #ebebeb;
  }
  .todo-wrap:last-of-type{

  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
  }
  input[type="checkbox"]{
  position:absolute;
  height:0;
  width:0;
  opacity:0;
  top:-600px;
  }
  .todo{
  display:inline-block;
  font-weight:200;
  padding:10px 5px;
  height:37px;
  position:relative;
  }
  .todo:before{
  content:'';
  display:block;
  position:absolute;
  top:calc(50% + 2px);
  left:0;
  width:0%;
  height:1px;
  background:#cd4400;

  -webkit-transition:.25s ease-in-out;
     -moz-transition:.25s ease-in-out;
       -o-transition:.25s ease-in-out;
          transition:.25s ease-in-out;
  }
  .todo:after{
  content:'';
  display:block;
  position:absolute;
  z-index:0;
  height:18px;
  width:18px;
  top:9px;
  left:-25px;

  -webkit-box-shadow:inset 0 0 0 2px #d8d8d8;
     -moz-box-shadow:inset 0 0 0 2px #d8d8d8;
          box-shadow:inset 0 0 0 2px #d8d8d8;

  -webkit-transition:.25s ease-in-out;
     -moz-transition:.25s ease-in-out;
       -o-transition:.25s ease-in-out;
          transition:.25s ease-in-out;

  -webkit-border-radius:4px;
     -moz-border-radius:4px;
          border-radius:4px;
  }
  .todo:hover:after{

  -webkit-box-shadow:inset 0 0 0 2px #949494;
     -moz-box-shadow:inset 0 0 0 2px #949494;
          box-shadow:inset 0 0 0 2px #949494;
  }
  .todo .fa-check{
  position:absolute;
  z-index:1;
  left:-31px;
  top:0;
  font-size:1px;
  line-height:36px;
  width:36px;
  height:36px;
  text-align:center;
  color:transparent;
  text-shadow:1px 1px 0 white, -1px -1px 0 white;
  }
  :checked + .todo{
  color:#717171;
  }
  :checked + .todo:before{
  width:100%;
  }
  :checked + .todo:after{

  -webkit-box-shadow:inset 0 0 0 2px #0eb0b7;
     -moz-box-shadow:inset 0 0 0 2px #0eb0b7;
          box-shadow:inset 0 0 0 2px #0eb0b7;
  }
  :checked + .todo .fa-check{
  font-size:20px;
  line-height:35px;
  color:#0eb0b7;
  }
  
  .delete-item{
  display:block;
  position:absolute;
  height:36px;
  width:36px;
  line-height:36px;
  right:0;
  top:0;
  text-align:center;
  color:#cd4400;
  opacity:1;
  }
  .todo-wrap:hover .delete-item{
  opacity:1;
  color: #cd4400;
  }
  .delete-item:hover{
  color:#cd4400;
  opacity:1;
  }
  
  #add-todo{
  padding:25px 0 0 0;
  font-size:14px;
  font-weight:200;
  color:#d8d8d8;
  display:inline-block;
  cursor:pointer;
  }
  #add-todo:hover{
  color:#6bc569;
  -webkit-transition:none;
     -moz-transition:none;
       -o-transition:none;
          transition:none;
  }
  #add-todo .fa-plus{
  font-size:14px;

  -webkit-transition:none;
     -moz-transition:none;
       -o-transition:none;
          transition:none;
  }
  .input-todo{
  border:none;
  outline:none;
  font-weight:200;
  position:relative;
  top:-1px;
  margin:0;
  padding:0;
  padding-top: 20px;
  width:100%;
  }
  .editing{
    height:0;
    overflow:hidden;
  }
  
  .editing.todo-wrap {
    box-shadow:0 0 400px rgba(0,0,0,.8),inset 0 0px 0 2px #ebebeb;
  }
  */